{%load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-night">
  <a class="navbar-brand" href="#">Gym</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'home_clients'%}" tabindex="-1" aria-disabled="true"> <i class='fas fa-address-card text-day'></i> Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'home_forfaits'%}"> <i class='fa fa-caret-right text-day'></i> Abonnement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'home_caisse'%}"> <i class='fa fa-money-bill text-day'></i> Caisse</a>
      </li>
    </ul>
    <div class=" ml-3 form-inline position-relative">
      <input class="search-input text-center rfid-search-input" type="search" placeholder="Rfid" aria-label="Search" autofocus>
      <i class="fa fa-search search-icon text-night"></i>
    </div>
    <form class=" my-3 form-inline position-relative">
      <input class="search-input text-center" type="search" name='nom' placeholder="Nom Prénom" aria-label="Search" autofocus>
      <i class="fa fa-search search-icon text-night"></i>
    </form>
    <span class="nav-item">
      <a class="nav-link text-white"  href='#' tabindex="-1" aria-disabled="true" data-toggle="modal" data-target="#modaladd"> <i class='fa fa-user-plus text-day'></i> Ajouter</a>
    </span>
  </div>
</nav>
<div class="container-fluid py-2 bg-day ">

</div>
